# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

# Keys / credentials
*.pem
*.key
*.env



# Models / artifacts
artifacts/
*.joblib
*.pkl

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
build/
dist/